<div class="gridster">
  <ul>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id ="demo_1" data-view="Backups" data-unordered="true" data-moreinfo="Compression averaged across both" data-title="NetApp" style="background-color:#9c4274;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo_2" data-view="Backups" data-unordered="true" data-moreinfo="Job failures since last business day" data-title="Backups" style="background-color:#96bf48;"></div>
    </li>
    
  </ul>
</div>